<h3>Add New</h3>
<form>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" [(ngModel)]="model.title" required>
    </div>
    
    <div class="form-group">
        <label for="Year">Year</label>
        <input type="number" class="form-control" [(ngModel)]="model.year" required max="9999">    
    </div>
    
    <div class="form-group">
        <label for="Year">Rated</label>
        <select name="rated" class="form-control" [(ngModel)]="model.rated" required>
            <option value="U">U</option>
            <option value="A">A</option>
            <option value="-">-</option>
        </select>    
    </div>
    
    <div class="form-group">
        <label for="Year">Release date</label>
        <input type="date" class="form-control" [(ngModel)]="model.released" required>    
    </div>
    
    
</form>